
.Side_Panel{

    height: 100%;
    width: 30%; 
    
    border-width: 5px;
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(54, 155, 121);

    color:rgba(245, 245, 245, 0.774);

    display: flex;
    flex-direction: column;

    flex-grow: 1;


}

.actual_contentWindow{

    background-color: rgb(211, 182, 144);
    width: 80%;
    height: 45%;
    align-self: center;

    font-size: 15px;

    overflow-y: auto;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    color:rgba(245, 245, 245, 0.774);

    border-color: black;

    display: flex;
    flex-direction: column;

}
.file_listSidePanel{

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.file_list-container{

    position: relative;

    left: -20px; 
}
.individual_file_divs{

    display: flex;

    color:rgba(10, 9, 9, 0.774);


    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
    gap: 4px;

    background-color: #f1e90f73;
    transition: background-color .5s ease, border-width .5s ease, border-color .5s ease;
    cursor: pointer;
    padding: 2px;
    width: 200px;
}

.individual_file_divs:hover {
    background-color: #e0a40b;
    border-color: white;
    border-width: 4px;
}

.file-icon{
    height: 12px;
    width: 12px;
    image-rendering: pixelated;

}
.folder-icon{
    height: 10px; 
    width: 12px;
}